.title {
  position: relative;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.title-animate {
  position: relative;
  display: block;
  height: 32px;
}

.title-animate span {
  --duration: 15s;
  position: absolute;
  top: 0;
  left: 0;
  color: #f15b40;
  perspective: 100px;
  opacity: 0;
  animation-name: title;
  animation-duration: var(--duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.title-animate span:nth-child(2) {
  animation-delay: calc(var(--duration)/3);
}

.title-animate span:nth-child(3) {
  animation-delay: calc(var(--duration)/3 * 2);
}

@keyframes title {
  0% {
    opacity: 0;
  }

  3% {
    opacity: 1;
  }

  32% {
    opacity: 1;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
