@font-face {
	font-family: 'Outfit';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Outfit-Medium.woff2) format('woff2'),
		url(../../fonts/Outfit-Medium.woff) format('woff');
}
