@font-face {
	font-family: 'Outfit';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Outfit-Light.woff2) format('woff2'),
		url(../../fonts/Outfit-Light.woff) format('woff');
}

@font-face {
	font-family: 'Outfit';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Outfit-Medium.woff2) format('woff2'),
		url(../../fonts/Outfit-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Outfit';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Outfit-Regular.woff2) format('woff2'),
		url(../../fonts/Outfit-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Outfit';
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Outfit-SemiBold.woff2) format('woff2'),
		url(../../fonts/Outfit-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(../../fonts/PlayfairDisplay-Italic.woff2) format('woff2'),
		url(../../fonts/PlayfairDisplay-Italic.woff) format('woff');
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/PlayfairDisplay-Medium.woff2) format('woff2'),
		url(../../fonts/PlayfairDisplay-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url(../../fonts/PlayfairDisplay-MediumItalic.woff2) format('woff2'),
		url(../../fonts/PlayfairDisplay-MediumItalic.woff) format('woff');
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/PlayfairDisplay-Regular.woff2) format('woff2'),
		url(../../fonts/PlayfairDisplay-Regular.woff) format('woff');
}
