body {
	margin: 0;
	font-family: "Inter", sans-serif;
	color: #1b3764;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

.container {
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;

	& > * {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}

.db {
	display: block;
}

.page-title {
	font-weight: 700;
	font-size: 45px;
	line-height: 1.2;
	font-family: "Cardo", serif;
	text-align: center;
	letter-spacing: -0.02em;

	&::after {
		content: '';
		display: block;
		width: 55px;
		height: 3px;
		margin-top: 14px;
		margin-right: auto;
		margin-left: auto;
		background-color: #ffca42;
	}
}

.page-subtitle {
	font-size: 19px;
	line-height: 1.8;
}
