@media (min-width: 576px) {
	:root {
		--offset-pageX: 20px;
	}
}

:root {
	--transition-duration: 150ms;
	--transition-function: ease-in-out;
	--color-text: #ffffff;
	--color-body: #05081a;
	--page-text: #050818;
	--page-body: #ffffff;
	--color-hover: #0039a6;
	--color-active: #d52b1e;
	--link-color: #0000ee;
	--link-visited: #551a8b;
	--bg-code: #f8f8f8;
	--page-width: 900px;
	--offset-pageX: 14px;
	--offset-pageY: 14px;
	--font-size: 18px;
}

.code {
	position: relative;
	display: block;
	padding: var(--offset-pageY) calc(var(--offset-pageX) / 2) calc(var(--offset-pageY) / 2);
	overflow: hidden;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	background-color: var(--bg-code);
	border-radius: 2px;
}

.code__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 var(--font-size);
	font-size: 25px;
	line-height: 1;
	font-family: "Roboto Condensed", "Trebuchet MS", Helvetica, sans-serif;
	text-transform: uppercase;
}

.code__copy {
	width: 25px;
	height: 25px;
	padding: 0;
	background-color: transparent;
	border: 0;
}

.code__copy svg {
	display: block;
	width: 25px;
	height: 25px;
	transition: fill var(--transition-duration) var(--transition-function);
	fill: var(--page-text);
}

.code pre {
	margin-top: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.code code {
	overflow-x: auto;
	background-color: transparent;
}

.main code {
	box-sizing: border-box;
	max-width: 100%;
	overflow: auto hidden;
	background-color: var(--bg-code);
}

.code__pre {
	position: relative;
	display: grid;
	grid-auto-rows: 20px;
	overflow: hidden;
	white-space: pre;
	word-wrap: break-word;
	background: repeating-linear-gradient(transparent, transparent 19px, rgba(145, 152, 229, .4) 19px, transparent 20px);
	transition: height var(--transition-duration) var(--transition-function);
	scrollbar-color: var(--color-hover) transparent;
	scrollbar-width: thin;
	color-scheme: var(--color-hover);
}

.code__pre .codeline {
	display: flex;
	transition: background-color var(--transition-duration) var(--transition-function);
}


svg {
	display: block;
	margin: 0 auto 15px;
	text-transform: lowercase;
}

.svg-bg {
	background-color: antiquewhite;
}
