body {
	font-family: Arial, Helvetica, sans-serif;
}

.range-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 280px;
}

.range-label {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.range {
	width: 200px;
	height: 15px;
	margin: 0;
	overflow: hidden;
	background-color: #ffa595;
	border-radius: 3px;
	appearance: none;
}

.range::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
	background-color: #bb2509;
	box-shadow: -100px 0 0 100px #ff6347;
	appearance: none;
}

.range::-moz-range-thumb {
	width: 15px;
	height: 15px;
	background-color: #bb2509;
	border: 0;
	border-radius: 0;
	box-shadow: -100px 0 0 100px #ff6347;
	appearance: none;
}

.range-inner {
	position: relative;
	padding-top: 35px;
}

.output {
	position: absolute;
	top: 0;
	left: var(--valuePercent);
	width: 10px;
	text-align: center;
	transform: translateX(calc(-1 * var(--valuePercent)));
	// box-shadow: 0 20px 0 0 rgba(255, 99, 71, 0.506);
}

.output-text {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}

.no-js .output {
	display: none;
}

input[type=range]::-webkit-slider-runnable-track {}

input[type=range]::-moz-range-track {}
