body {
	font-family: Arial, Helvetica, sans-serif;
}

.range-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 280px;
}

.range-label {
	display: block;
	width: 100%;
	margin-bottom: 15px;
}

.range {
	width: 200px;
	height: 10px;
	overflow: hidden;
	background-color: #ffa595;
	border-radius: 3px;
	appearance: none;
}

.range::-webkit-slider-thumb {
	width: 10px;
	height: 10px;
	background-color: #bb2509;
	box-shadow: -100px 0 0 100px #ff6347;
	appearance: none;
}

input[type="range"]::-moz-range-thumb {
	width: 10px;
	height: 10px;
	background-color: #bb2509;
	appearance: none;
}

.output {
	padding: 2px 4px;
	border: 2px solid #ff6347;
	border-radius: 3px;
}

.no-js .output {
	display: none;
}

input[type=range]::-webkit-slider-runnable-track {}

input[type=range]::-moz-range-track {}
