@import './blocks/all.scss';
@import './blocks/button.scss';

.articles {
	padding-top: 145px;
	padding-bottom: 145px;
	background-color: #f4f8ff;
}

.articles__page-title {
	margin-bottom: 50px;
}

.articles__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 410px);
	padding: 0;
	list-style-type: none;
	gap: 35px;
}

.articles__item {
	background-color: #ffffff;
	box-shadow: 0 35px 25px rgba(#040b14, 4%);
}

.articles__link {
	display: block;
	overflow: hidden;

	&:hover {
		img {
			transform: scale(1.1);
			transform-origin: center;
		}
	}

	& img {
		display: block;
		transition: transform 0.25s ease-in-out;
	}
}

.articles__content {
	padding: 27px 32px;
}

.articles__title {
	margin-top: 0;
	margin-bottom: 14px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	font-family: "Cardo", serif;
}

.articles__blockquote {
	margin: 0 0 27px;
	font-size: 19px;
	line-height: 1.8;
	color: #969aa0;
}

.articles__footer {
	display: flex;
	align-items: start;
	justify-content: space-between;
}
