@import './blocks/all.scss';
@import './blocks/button.scss';

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.articles {
	padding-top: 145px;
	padding-bottom: 145px;
	background-color: #f4f8ff;
}

.articles__page-title {
	margin-bottom: 50px;
}

.articles__list {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 410px);
	padding: 0;
	list-style-type: none;
	gap: 35px;
}

.articles__item {
	display: grid;
	background-color: #ffffff;
	box-shadow: 0 35px 25px rgba(#040b14, 4%);

	& article {
		display: grid;
		grid-template-rows: auto 1fr;
	}
}

.articles__img-link {
	display: block;
	overflow: hidden;
	transition: opacity 0.25s ease-in-out;

	&:hover {
		img {
			transform: scale(1.1);
			transform-origin: center;
		}
	}

	&:active {
		opacity: 0.5;
	}

	& img {
		display: block;
		width: 410px;
		height: 326px;
		transition: transform 0.25s ease-in-out;
	}
}

.articles__content {
	display: grid;
	grid-template-rows: 1fr auto;
	padding: 27px 32px;
}

.articles__title {
	margin-top: 0;
	margin-bottom: 14px;
	font-weight: 700;
	font-size: 24px;
	line-height: 1.2;
	font-family: "Cardo", serif;
	letter-spacing: -0.02em;
}

.articles__blockquote {
	display: -webkit-box;
	margin: 0 0 21px;
	overflow: hidden;
	font-size: 19px;
	line-height: 1.8;
	color: #969aa0;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.articles__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.articles__read {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.25;
	font-family: "Cardo", serif;
	color: inherit;
	text-decoration: none;
	letter-spacing: 0.02em;
	border-bottom: 1px solid;
	transition: opacity 0.25s ease-in-out;

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.5;
	}
}

.articles__data {
	display: flex;
	color: inherit;
	text-decoration: none;
	letter-spacing: 0.027em;

	& span {
		display: block;
		max-width: 130px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&:hover {
		opacity: 0.7;
	}

	&:active {
		opacity: 0.5;
	}
}
