@import './blocks/all.scss';
@import './blocks/button.scss';

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

.mail {
	text-align: center;
}

.mail__container {
	box-sizing: border-box;
	padding: 121px 230px;
	background-color: #ffca42;
}

.mail__page-title {
	margin-bottom: 20px;

	&::after {
		margin-top: 14px;
		background-color: #1b3764;
	}
}

.mail__page-subtitle {
	margin-bottom: 40px;
}

.form {
	display: flex;
	gap: 11px;
}

.form__controll {
	display: block;
	box-sizing: border-box;
	height: 64px;
	padding: 17px 24px;
	font-size: 17px;
	line-height: 1.8;
	font-family: "Inter", sans-serif;
	background-color: #ffffff;
	border: 0;
}

.form__controll::placeholder {
	color: #969aa0;
	opacity: 1;
}

.mail__input {
	width: 100%;
}

.form__button {
	min-width: 300px;
	color: #ffffff;
	background-color: #1b3764;
	border-color: #1b3764;
}
