html,
body {
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 320px;
  margin: 0;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #9bb0c1;
  background-image: url(../../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

section {
  position: relative;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  font-size: clamp(16px, 1vw * 0.70 + 1em - 2px, 20px);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 0 0 5px #ffffff;
  backdrop-filter: blur(10px);

  & > * {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0;
  list-style-type: none;
  gap: 10px;
  gap: clamp(10px, 3vw, 20px);
}

.li {
  padding: 10px;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 0 0 3px #ffffff;

  & img {
    display: block;
    width: 70px;
    width: clamp(70px, 21vw, 100px);
    height: 70px;
    height: clamp(70px, 21vw, 100px);
    margin: 0 auto;
    border-radius: 3px;
  }

  & b {
    display: block;
    margin-bottom: 0.25em;
    text-transform: uppercase;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
