body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-size: 20px;
	line-height: 1.5;
	font-family: Arial, Helvetica, sans-serif;
}

.custom-select {
	position: relative;
	width: 280px;
	height: fit-content;
}

.custom-select__item,
.custom-select__button {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding: 12px 24px;
	font-weight: 600;
	font-size: 16px;
	line-height: 125%;
	font-family: inherit;
	text-align: start;
	color: #fdfdfd;
	background-color: #1A3E3E;
	border: 1px solid #1A3E3E;
	transition: background-color 250ms ease-in-out, color 250ms ease-in-out, opacity 250ms ease-in-out, text-shadow 250ms ease-in-out;
	appearance: none;

	&:not(:disabled):active {
		opacity: 0.7;
	}

	&:disabled {
		opacity: 0.5;
	}
}

.custom-select__button {
	padding-right: 36px;
	border-radius: 4px;

	& span {
		display: block;
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
	}

	&:not(:disabled):hover {
		color: #1A3E3E;
		background-color: #fdfdfd;
		cursor: pointer;
	}

	&::after {
		content: '';
		position: absolute;
		right: 14px;
		width: 5px;
		height: 5px;
		border: 2px solid currentColor;
		transform: translateY(-50%) rotate(45deg);
		transition: top 250ms ease-in-out, border 250ms ease-in-out;
	}

	&:not(.custom-select--view > &) {
		&::after {
			top: calc(50% - 2px);
			border-top-color: transparent;
			border-left-color: transparent;
		}
	}

	.custom-select--view > & {
		&::after {
			top: calc(50% + 3px);
			border-right-color: transparent;
			border-bottom-color: transparent;
		}
	}
}

.custom-select__list {
	position: absolute;
	top: calc(100% + 2px);
	left: 0;
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;

	.custom-select--view > & {
		display: block;
	}
}

.custom-select__item {
	color: #1A3E3E;
	background-color: #fdfdfd;

	&:hover {
		text-shadow: 1px 1px 1px currentColor;
		cursor: pointer;
	}

	&:not(:last-child) {
		border-bottom: 0;
	}

	&:first-child {
		border-radius: 4px 4px 0 0;
	}

	&:last-child {
		border-radius: 0 0 4px 4px;
	}

	&--active {
		color: #fdfdfd;
		background-color: #1A3E3E;
	}
}
